:root{
    --custom-gradient: linear-gradient(to right,#162336, #325765);
    --custom-gold: rgb(182, 160, 37);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



nav{
    color: white;
    background: var(--custom-gradient)
}


#popStocks{
    margin: 10%;
    background-color: white;
}

.custom-search{
    margin-top: 15%;
    width: 100%;
    background: var(--custom-gradient)
}

input{
    color: var(--custom-gold);
    background: var(--custom-gradient);
    text-align: center;
}


.stock-news {
    padding-left: 60px;
}

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
    div.searchFunc{
        display: block;
    }
  }