:root{
    --custom-gradient: linear-gradient(to right,#162336, #325765);
    --this-gold: rgb(159, 140, 33);
}

#small-nav {
    display: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex: 0 0 250px;
    padding: 0px 20px;
}

.right{
    flex: 0 0 auto;
}

nav{
    color: white;
    background: var(--custom-gradient)
}

#big-nav{
    border-bottom: 5px solid var(--this-gold);
}

/* created navLogo class to center title*/
.navLogo{
    margin-left: 10%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    border-radius: 3px;
    text-align: center;
    width: 50%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#popStocks,
#recentSearch {
    border-bottom: 2px solid black;
    margin: 10%;
}

input{
    color: var(--this-gold);
    background: var(--custom-gradient);
}

/* had to create a class to add margin to search bar in desktop verson. */
.custom-search{ 
    margin-left: 10%;
    margin-right: 15%; 
}

.stock-news {
    padding-left: 60px;    
}

header, main, footer {
    padding-left: 300px;
}

/* added border to desktop version of search bar */
#stocks {
    padding-left: 20px;
    box-sizing: content-box;
    border: 5px solid var(--this-gold);
}

@media only screen and (max-width : 992px) {
    #big-nav {
        display: none;
    }

    #small-nav {
        display: block;
        border-bottom: 5px solid var(--this-gold);
    }

    .wrapper {
        padding-left: 0;
    }

    nav {
        height: 15vh;
    }

    .nav-wrapper {
        display: flex;
        flex-direction: column;
    }

    #nav-mobile {
        display: flex;
        justify-content: center;
        margin-top: -20px;
    }
    
    /*deleted font-weight and made font-size bigger in mobile version of title */
    #logo-text {
        margin: 0 auto;
        font-size: 250%;
    }

    .input-wrapper { 
        display: flex;
        justify-content: space-around;
        
    }

    /* added border to mobile version of search bar */
    #stocks-nav {
        width: 80%;
        margin: 0;
        padding-left: 15px;
        height: 45px;
        font-size: 20px;
        box-sizing: content-box;
        border: 5px solid var(--this-gold);
    }

    #nav-btn {
        height: 45px;
        line-height: 45px;
        vertical-align: center;
    }

    /* adds 10% to top margin of chart in mobile version */
    #stockChart{
        margin-top: 10%;
    }

    header, main, footer {
        padding-left: 0;
    }
}
